:root {
    --background-color: #121A1E;
    --text-color: white;
    --primary-color: #152731;
    --secondary-color: #335D67;
    --dark-background: #152731;
    --font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

.logo-img {
    max-width: 190px; /* Tamanho máximo da logo */
    height: auto; /* Mantém a proporção da imagem */
    padding-bottom: 15px;
    padding-top: 12px;
}

.custom-swal-popup {
    border-radius: 10px;
    /* Bordas arredondadas */
    background: var(--primary-color);
    /* Um gradiente leve para o fundo */
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Sombras suaves */
}

.custom-confirm-button {
    background-color: var(--secondary-color) !important;
    /* Cor personalizada */
    border-radius: 5px !important;
    border-color: #fff;
    /* Bordas arredondadas no botão */
    color: #fff !important;
    /* Texto branco */
}

.custom-confirm-button:focus,
.custom-confirm-button:active {
    outline: none !important;
    /* Remove borda de foco */
    box-shadow: none !important;
    /* Remove efeito de clique */
    border-color: #ff69b4 !important;
    /* Mantém a borda rosa */
}

.custom-confirm-button:hover {
    background-color: var(--secondary-color) !important;
    /* Cor de fundo rosa ao hover */
    color: #fff !important;
    border-color: var(--secondary-color) !important;
    /* Borda azul no hover */
}

.info p {
    font-size: 12px;
    margin-top: 10px; /* Espaço de 10px abaixo do botão */
    color: var(--text-color);
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 6px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.stats-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.stats-card {
    background-color: var(--dark-background);
    flex: 1 1 calc(50% - 10px);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.stats-card i {
    font-size: 24px;
    margin-bottom: 8px;
    color: var(--secondary-color);
}

.stats-card p {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 5px;
}

.stats-card span {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
}

.info {
    background-color: var(--dark-background);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.invite-btn {
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.team-card {
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.team-card h2 {
    font-size: 18px;
}

.team-card p {
    font-size: 14px;
    margin-bottom: 5px;
}

.verify-btn {
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
}

.team-card:last-child {
    margin-bottom: 100px;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom-nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.bottom-nav a i {
    font-size: 20px;
    margin-bottom: 5px;
}
