:root {
    --background-color: #121A1E; /* Cor de fundo */
    --text-color: white; /* Cor do texto */
    --primary-color: #152731; /* Cor primária */
    --secondary-color: #335D67; /* Cor secundária */
    --dark-background: #152731; /* Cor de fundo escuro */
    --font-family: Arial, sans-serif; /* Fonte padrão */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 6px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

header p {
    font-size: 16px;
    margin-bottom: 15px;
}

form {
    background-color: var(--dark-background);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

button.invest-btn {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button.invest-btn:hover {
    background-color: var(--primary-color);
    transition: background-color 0.3s;
}

.custom-swal-popup {
    border-radius: 10px;
    /* Bordas arredondadas */
    background: var(--primary-color);
    /* Um gradiente leve para o fundo */
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Sombras suaves */
}

.custom-confirm-button {
    background-color: var(--secondary-color) !important;
    /* Cor personalizada */
    border-radius: 5px !important;
    /* Bordas arredondadas no botão */
    color: #fff !important;
    /* Texto branco */
}

.fixed-image {
    width: 380px; /* Largura fixa da imagem */
    height: 200px; /* Altura fixa da imagem */
    object-fit: cover; /* Mantém a proporção da imagem sem distorcer */
    margin-top: 30px; /* Espaço acima da imagem */
    margin-bottom: 40px;
    border-radius: 10px; /* Bordas arredondadas */
}

.logo-img {
    max-width: 190px; /* Tamanho máximo da logo */
    height: auto; /* Mantém a proporção da imagem */
    padding-bottom: 15px;
    padding-top: 12px;
}


.bottom-nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    padding: 10px;
    width: 100%;  /* Garante que a nav ocupe a largura total */
    position: fixed; /* Fixa a nav na parte inferior */
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0; /* Remove borda arredondada para largura total */
}


.bottom-nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Garante que cada link ocupe espaço igual */
}

.bottom-nav a i {
    font-size: 20px;
    margin-bottom: 5px;
}